.background {
  position: fixed;
  top: 1.5rem;
  right: 1rem;

  cursor: pointer;
  border-radius: 50%;
}

.image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.image-default {
  height: 2rem;
  width: 2rem;

  cursor: pointer;
  color: white;

}

ul.dropdown-menu {
  min-width: 0;
  text-align: center;
  --bs-dropdown-padding-y: 0;
}

li.dropdown-item {
  padding: 0.5rem 2rem;
}
