.playerContainer {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerControls {

    margin-top: -0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playerControlIcons {
    color: white;
    cursor: pointer;
}

.playerSeekTrack {
    position: absolute;
    bottom: 2rem;
}