@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.playerContainer {
  height: 100%;
  width: 50%;

  margin-top: -1rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f1f1f1;
  box-shadow: 0 5px 20px 0 #5a5a5a;
}

.playerControls {
  margin-right: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerControlIcons {
  cursor: pointer;
  color: black;
}

.playerTrackSlider {
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.trackTitle {

  color: #212529;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: right;

  /* Text scrolling  */
  /* -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%); */

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.trackTitleContainer {
    border: black 1.5px solid;
    overflow: hidden;
    border-radius: 5px;
}



.trackArtist {
  color: #212529;
  font-size: 0.8rem;
  font-style: italic;
}

.trackTextContainer {
  text-align: center;
  width: 65%;
  white-space: nowrap;
  margin-bottom: -0.5rem;
}

.volumeSlider {
  height: 4rem;

  position: absolute;
  bottom: 7rem;
  right: 8.3rem;
}

.playerSeekTime {
    font-family: 'VT323', monospace;
    font-weight: 600;
}

.volumeMount {
  animation: inAnimation 300ms ease-in;
  animation-fill-mode: forwards;

} 

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.volumeUnmount {
  animation: outAnimation 400ms ease-out;
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
