.image {
    width: 10rem;
    height: 10rem;

    margin-bottom: 0.5rem;
}

.playerContainer {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerControls {

    margin-top: -0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playerControlIcons {
    color: white;
    cursor: pointer;
}

.playerSeekTrack {
    position: fixed;
    bottom: 1.7rem;
}

.playerSeekTime {
color: white;
}