.body {
    background-color: white;
    height: inherit;
    width: inherit;
    padding: 5rem;
}

.clockButton {

    height: 2rem;
    width: 2rem;

    color: #212529;

    position: absolute;
    bottom: 7rem;
    right: 1rem;
    cursor: pointer;
}