.body {
    background-color: #212529;
    height: inherit;
    width: inherit;
    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.editButton {

    height: 2rem;
    width: 2rem;

    color: white;

    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

