@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.imageWithAnimation {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

  animation: imageAnimation 1s;
  animation-fill-mode: forwards;
}

@keyframes imageAnimation {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 8rem;
    width: 8rem;
  }
}

.image {
  height: 8rem;
  width: 8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.adWithAnimation {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "VT323", monospace;
  font-size: 1.25rem;

  color: black;
  
  opacity: 0;
  animation: advertisementAnimation 1s;
  animation-fill-mode: forwards;
}

@keyframes advertisementAnimation {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    height: 9rem;
    width: 9rem;
  }
}

.ad {
  height: 9rem;
  width: 9rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "VT323", monospace;
  font-size: 1.25rem;

  color: black;
}

.signInContainer {

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "VT323", monospace;
  font-size: 1.25rem;

  color: black;
  
  animation: signInAnimation 1s;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
}

@keyframes signInAnimation {
    0% {
      height: 0;
      width: 0;
    }
    100% {
      height: 9rem;
      width: 9rem;
    }
  }


.signInText {
  opacity: 0;
  animation: signInTextAnimation 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes signInTextAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlight {
  background-color: #e85f5c;
}
