
.toEditButton {

    height: 2rem;
    width: 2rem;

    color: white;

    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.toClockButton {

    height: 2rem;
    width: 2rem;

    color: #212529;

    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}
