/* Note: body is parent of main element */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #212529;
}

main {
    width: 30rem;
    height: 20rem; 

    display: flex;
    justify-content: center;
    align-items: center;
}